{% set title = 'Home' %}
{% extends "layout.njk" %}

{% block body %}
  <main class="container py-16 prose prose-lg">
    <h1 >Steven Pate</h1>
    <h2>👋</h2>
    <p>Hello. I'm Steven.</p>
    {% image './src/img/riverbank.jpg', 'Photo at Ruth Creek' %}
    <h2>🤙</h2>
    <h3><a href="mailto:steven@stevenpate.com">steven@stevenpate.com</a></h3>
  </main>
{% endblock %}
